<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>act_robot</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IatServlet</servlet-name>
        <servlet-class>act.robot.servlet.IatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IatServlet</servlet-name>
        <url-pattern>/IatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TtsServlet</servlet-name>
        <servlet-class>act.robot.servlet.TtsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TtsServlet</servlet-name>
        <url-pattern>/TtsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FaceIdentifyServlet</servlet-name>
        <servlet-class>act.robot.servlet.FaceIdentifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FaceIdentifyServlet</servlet-name>
        <url-pattern>/FaceIdentifyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KnowledgeServlet</servlet-name>
        <servlet-class>act.robot.servlet.KnowledgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KnowledgeServlet</servlet-name>
        <url-pattern>/KnowledgeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InputFaceServlet</servlet-name>
        <servlet-class>act.robot.servlet.InputFaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputFaceServlet</servlet-name>
        <url-pattern>/InputFaceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckFaceIdServlet</servlet-name>
        <servlet-class>act.robot.servlet.CheckFaceIdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckFaceIdServlet</servlet-name>
        <url-pattern>/CheckFaceIdServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrainFaceServlet</servlet-name>
        <servlet-class>act.robot.servlet.TrainFaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrainFaceServlet</servlet-name>
        <url-pattern>/TrainFaceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RecommendServlet</servlet-name>
        <servlet-class>act.robot.servlet.RecommendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecommendServlet</servlet-name>
        <url-pattern>/RecommendServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RingServlet</servlet-name>
        <servlet-class>act.robot.servlet.RingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RingServlet</servlet-name>
        <url-pattern>/RingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NavServlet</servlet-name>
        <servlet-class>act.robot.servlet.NavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NavServlet</servlet-name>
        <url-pattern>/NavServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChargingServlet</servlet-name>
        <servlet-class>act.robot.servlet.ChargingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChargingServlet</servlet-name>
        <url-pattern>/ChargingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>act.robot.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
</web-app>